# Copy this file to .env.local and update as needed.
NEXT_PUBLIC_SUPABASE_URL=https://qjxdhqfveoizsorsxjnb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqeGRocWZ2ZW9penNvcnN4am5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY0NzU1MDAsImV4cCI6MjA5MjA1MTUwMH0.eoq8iBifS_OZDHsBHF0ECDK7F6Z77qWdzBSDNmwloX0
SUPABASE_SERVICE_ROLE_KEY=
OPENAI_API_KEY=
